section {
    text-align: center;
    background-image: linear-gradient(to top, white 0%, gray 100%);
    padding: 1%;
}

span{
    color: brown;
}

section .nombre {
    color: red;
    font-size: larger;
    padding: 1%;
}

button:hover {
    background-color: aqua;
    color: black;
}