<section>
<h1 class="component-form-h1">Registro de nuevos productos</h1>
<div class="component-form">
    <label for="title">Title: </label>
    <input type="text" id="id" [formControl] = "title">
</div>
<div class="component-form">
    <label for="name">Image: </label>
    <input type="text" id="id" [formControl] = "images">
</div>
<div class="component-form">
    <label for="name">Description: </label>
    <input type="text" id="id" [formControl] = "description">
</div>
<div class="component-form">
    <label for="name">Price: </label>
    <input type="text" id="id" [formControl] = "price">
</div>
<div class="component-form">
    <button (click)="onSummit()">Guardar</button>
</div>
</section>

<section>
    <h1>Productos</h1>
</section>

<div *ngFor = "let product of products">
    <app-card [Product] = "product">
    </app-card>
</div>