<label for="title">title: </label>
<input type="text" id="id" [formControl] = "title">

<label for="name">image: </label>
<input type="text" id="id" [formControl] = "images">

<label for="name">description: </label>
<input type="text" id="id" [formControl] = "description">

<label for="name">price: </label>
<input type="text" id="id" [formControl] = "price">

<button (click)="onSummit()">Guardar</button>

<div *ngFor = "let product of products">
    <app-card [Product] = "product">
    </app-card>
</div>