<label for="name">name: </label>
<input type="text" id="id" [formControl] = "id">

<label for="name">image: </label>
<input type="text" id="id" [formControl] = "id">

<label for="name">email: </label>
<input type="text" id="id" [formControl] = "id">

<label for="name">password: </label>
<input type="text" id="id" [formControl] = "id">

<label for="name">titulo: </label>
<input type="text" id="id" [formControl] = "id">

<button (click)="saveChanges()">Guardar</button>

<div *ngFor = "let people of Info">
    <app-card [people] = "people">
    </app-card>
</div>